%h1 Listing applications
%table
  %tr
    %th
    %th
    %th
  - @applications.each do |application|
    %tr
      %td= link_to 'Show', application
      %td= link_to 'Edit', edit_application_path(application)
      %td= link_to 'Destroy', application, confirm: 'Are you sure?', method: :delete
%br/
= link_to 'New Application', new_application_path
