<h1>You have received an application from </h1>
<p />
<h3>Please follow the link below to request further information from the client:</h3>
<p />
<%= link_to "Click Here", client_application_url(@application) %>
