%center
  %h2 Thank you for your application!
  %br
  %h3
    = link_to 'Click here', 'http://www.isotope11.com'
    if you would like to be redirected back to the Isotope11.com
  %center
    or
  %h3
    = link_to 'Click here', new_application_path
    if you would like to get an estimate on your project
