%h1.title Isotope11 New Client Application
.content
  %h4 Thank you for your interest in Isotope11 software development.
  %h4 If you would like to see how we can better help your business succeed, please fill out this short new client application and we will contact you shortly!

  %h5 Services Offered:
  %ul
    %li User authentication
    %li Database management
    %li Ecommerce solutions
    %li Social business networking
    %li Professional communication and service

  #new_app
    %h3= link_to "New Application", new_application_path


