%fieldset
  = f.fields_for :attachments, :html => { :multipart => true } do |a|
    - if a.object[:document_file_name].nil?
      .clearfix
        = a.label a.object[:description]
        .input= a.file_field :document

