%h1 Completed

%h3 Congratulations! you have completed the application process. If you have any questions call someone at Isotope11.
%p
%center
  = link_to "Back to Isotope11.com", 'http://isotope11.com'
