
<div class="wrapper">
  <h1>Listing applications</h1>

  <div class="app_index">
    <table>

      <tr>
        <th></th>
        <th></th>
        <th></th>
      </tr>

      <% @applications.each do |application| %>
        <tr>
          <td><%= link_to 'Show', application %></td>
          <td><%= link_to 'Edit', edit_client_application_path(application) %></td>
          <td><%= link_to 'Destroy', application, confirm: 'Are you sure?', method: :delete %></td>
        </tr>
      <% end %>

    </table>
  </div>

  <%= link_to 'New Application', new_client_application_path %>
</div>
