%h1= @application.business_name

.submitted
  %h1 Submitted

.requested
  %h1 Requested

.responded
  %h1 Responded

.completed
  %h1 Completed

= link_to 'Edit', edit_client_application_path(@application)
