.session_options{
  position: absolute;
  left: 950px;
  top: 5px;
}

.sign_in {
  position: absolute;
  font-color: white;
  background: #57BCDA;
  top: 250px;
  margin-left: auto;
  margin-right: auto;
  width: 400px;
  height: 200px;
  border: gray solid 1px;
  padding: 10px;
  -moz-border-radius: 5px;
}

.login {
  @extend .session_options;
}

.logout {
  @extend .session_options;
}
